{% extends "layout.html" %}

{% block title %}
About
{% endblock title %}

{%block content %}
    <h1>About</h1>
    <p>Welcome to the About page of this Django project.</p>
    <p>checkout my <a href="/">Home</a> page.</p>
{% endblock content %}



{#
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <h1>About Page</h1>
    <p>Welcome to the About page of this Django project.</p>
    <p>checkout my <a href="/">Home</a> page.</p>
</body>
</html>
#}
